<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>activate</title>
    </head>
    <body>
        <div style="margin: auto; height: 500px; width: 500px; background-color: aliceblue;border: groove">
            <div style="margin:50px 0 0 150px; height: 250px;width: 250px;">
                <p style="font-family: Rockwell;font-size: x-large">give activation code</p>
                <form action="/activate" method="POST">
                    <input style="margin-top: 20px"placeholder="activation code" name="scode"/>
                    <br/>
                    <input style="margin-top: 20px" type="submit" value="Sign Up">
                </form>
                </br>
                <div>
                    {{ result }}
                </div>
            </div>

        </div>
    </body>
</html>