<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>activate</title>
    </head>
    <body>
        <div style="margin: auto; height: 500px; width: 500px; background-color: aliceblue;border: groove">
            <div style="margin:50px 0 0 150px; height: 250px;width: 250px;">
                </br>
                <div>
                    your account activated please use this link too login
                    <a href="/index">index</a>
                </div>
            </div>

        </div>
    </body>
</html>