<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <style>
            .t1{
                background-color: papayawhip;
                width: 90px;
                height: 90px;
            }
            .t2{
                background-color: chocolate;
                width: 90px;
                height: 90px;
            }
        </style>
        <title>Chess Game</title>
    </head>
    <body>
        <table style="margin: auto">
            <tr>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
            </tr>
            <tr>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
            </tr>
            <tr>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
            </tr>
            <tr>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
            <tr>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
            </tr>
            <tr>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
            <tr>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
            </tr>
            <tr>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
                <td class="t2">
                </td>
                <td class="t1">
                </td>
        </table>
    </body>
</html>