<html>
	<head>
		<title>Online Chess</title>
	</head>
	<body bgcolor="#444">
		<div style="height:2000px; width:1400px; background-color:#444; margin:auto">
			<div style="width:750px ;height:150px; background-color:#DFDFDF; padding:150px 0px 0px 650px; font-size:28;">Online Chess</div>
			<div style="width:1000px; height:1690px; background-color:#DFDFDF; margin-top:10px; float:left;">Rules</div>
			<div style="width:270px; height:1610px; background-color:#DFDFDF;
			margin-left:10px; float:right; margin-top:10px;padding-top:80px; padding-left:120px;">
				<a href="signup.html">
					<div style="height:30px;width: 90px;background-color: #AABBDD;padding-left: 30px; padding-top:10px;">Sign Up</div>
				</a>
				<div style="margin-top: 200px;">Login</div>
				<input style="margin-top: 20px"placeholder="UserName">
				<input style="margin-top: 20px"placeholder="Password">
			</div>
		</div>
	</body>
</html>
