<html>
	<head>
		<title>Online Chess</title>
	</head>
    {% load static %}
	<body style="background-image:url('{% static "chess_board_pieces_glass_68402_3840x2160.jpg" %} '); background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;" >
		<div style="height:800px; width:1120px; margin:auto">
			<div style="opacity:0.93; width:600px ;height:120px; background-color:#DFDFDF; padding:120px 0px 0px 520px; font-size:28 ;">Online Chess</div>
			<div style="opacity:0.93; width:800px; height:709px; background-color:#DFDFDF; margin-top:8px; float:left;">Rules</div>
			<div style="opacity:0.93;width:216px; height:644px; background-color:#DFDFDF;
			margin-left:8px; float:right; margin-top:8px;padding-top:64px; padding-left:96px;">
                <form action="/signup" method="GET">
                    <input type="submit" value="SignUp" style="height:30px;width: 72px;">
                </form>
				<div style="margin-top: 160px;">Login</div>
                <form action="/index/" method="POST">
				    <input style="margin-top: 16px"placeholder="UserName" name="un">
				    <input style="margin-top: 16px"placeholder="Password" name="pw" type="password">
                    <br/>
                    <input style="margin-top: 16px" type="submit" value="Sign In">
                </form>
                <div>{{ errors }}</div>
			</div>
		</div>
	</body>
</html>
