<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Signup</title>
    </head>
    {% load static %}
    <body style="background-image:url('{% static "signature-pen-1030x686.jpg" %} '); background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
        <div style="opacity:.85;margin: auto; height: 500px; width: 500px;;border: groove">
            <div style="margin:50px 0 0 150px; height: 250px;width: 250px;">
                <p style="font-family: Rockwell;font-size: x-large">Sign up</p>
                <form action="/signup" method="POST">
                    <input style="margin-top: 20px"placeholder="UserName" name="sus"/>
				    <input style="margin-top: 20px"placeholder="Password" name="spw"/>
                    <input style="margin-top: 20px"placeholder="Email" name="smail"/>
                    <br/>
                    <input style="margin-top: 20px" type="submit" value="Sign Up">
                </form>
                <div>
                    {% for foo in errors %}
                        {{ foo }}
                        </br>
                    {% endfor %}
                </div>
            </div>

        </div>
    </body>
</html>